html, body {
    height: 100%;
}

.whitebg {
    background-color: #ffffff;
}

.wrap {
    margin-top: 15px;
    margin-bottom: 20px;
}

.index-blog-height {
    height: 130px;
}

.cv div  {
    border-bottom: 1px solid #000000;
}

index-blog-thumb {
    width: 40px;
}

#image
{
    width: 65%;
}
#text
{
    z-index:100;
    position:absolute;
    color:white;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}

#footer {
    height: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 2px solid #428bca;
}

.active-row {
    background-color: #eea236;
}

.row div {
    height: 40px;
}